.group
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      %p.group__group-name
        = group.group_name
      %p.group__latest-message
        メッセージはまだありません。
          